.dtl_header {
  position: sticky;
  top: 0;
  z-index: 20;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dtl_logo_header {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.dtl_header_sticky .dtl_logo_header {
  opacity: 0.8; /* hoặc để là 1 nếu chỉ muốn hiệu ứng khi thay ảnh */
}

.dtl_header a,
.dtl_header button {
  color: var(--chroma-ffffff, #ffff);
}

.dtl_header_sticky {
  background: var(--chroma-ffffff, #ffff);
  z-index: 13;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.4s ease-in-out forwards;
}

.dtl_header_sticky a,
.dtl_header_sticky button {
  color: var(--primary-0-0-0, #000);
}

.dtl_nav_show_mobile {
  background: var(--chroma-ffffff, #ffff);
}

.dtl_dropdown_menu_language button {
  text-decoration: none;
}

.dtl_dropdown_menu_language a {
  color: var(--primary-0-0-0, #000);
}

.dtl_header_sticky .dtl_btn_link i {
  color: var(--second-0-0-7-b-f-f, #007bff);
}

header .nav-link:focus,
header .nav-link:hover {
  color: var(--second-0-0-7-b-f-f, #007bff);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
